.root {
  padding: 50px 20px;
}

.container {
  margin-top: 5rem;
  width: 500px;
  height: 300px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container:focus,
.container:focus-within {
  outline: 2px solid #1890ff;
}
